<html>
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="mt-4 p-5 h-75 bg-secondary text-white rounded container-fluid mt-3">
            <h1>My Goals</h1>
            <% if (goals.length === 0) { %>
              <p>You have no goals yet.</p>
            <% } else { %>
              <ul>
                <% goals.forEach(function(goal) { %>
                  <li>
                    <p>Date: <%= goal.date %></p>
                    <p>Goal: <%= goal.goal %></p>
                    <p>Description: <%= goal.description %></p>
                    <form method="POST" action="/deletegoal">
                      <input type="hidden" name="_id" value="<%= goal._id %>">
                      <button type="submit">Delete</button>
                    </form>
                    <form method="GET" action="/editgoal">
                        <input type="hidden" name="_id" value="<%= goal._id %>">
                        <button type="submit">Edit</button>
                      </form>
                  </li>
                <% }); %>
              </ul>
            <% } %>
        </div>
    </main>

    <footer class="text-center text-lg-start fixed-bottom">
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>